header {
  &.container-fluid {
		padding: 5rem 2rem;
		margin-top: 56px;
		margin-bottom: 3rem;
		@include media-breakpoint-up(md) { 	
			padding: 5rem 10rem;
			margin-top: 56px;
			margin-bottom: 3rem;
		}
    &.mobile-less-pad {
      @include media-breakpoint-down(sm) {
        padding-bottom: 1rem;
      }
    }
	}
	background: rgba(44, 59, 69, 0.8) url(../../images/team-photos/header_background_001.jpg) no-repeat bottom center fixed;
  background: -moz-linear-gradient(bottom, rgba(44, 59, 69, 0.8) 5%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/header_background_001.jpg) no-repeat bottom center fixed;
  background: -webkit-gradient(bottom, color-stop(5%, rgba(44, 59, 69, 0.8)), color-stop(50%, rgba(44, 59, 69, 0))), url(../../images/team-photos/header_background_001.jpg) no-repeat bottom center fixed;
  background: -webkit-linear-gradient(bottom, rgba(44, 59, 69, 0.8) 5%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/header_background_001.jpg) no-repeat bottom center fixed;
  background: -o-linear-gradient(bottom, rgba(44, 59, 69, 1) 5%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/header_background_001.jpg) no-repeat bottom center fixed;
  background: -ms-linear-gradient(bottom, rgba(44, 59, 69, 1) 5%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/header_background_001.jpg) no-repeat bottom center fixed;
  background: linear-gradient(to top, rgba(44, 59, 69, 1) 5%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/header_background_001.jpg) no-repeat bottom center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

