header {
	&.container-fluid {
		padding: 7rem 10rem;
		margin-top: 56px;
	}
	background: rgba(44, 59, 69, 0.8) url(../../images/team-photos/backdrop.jpg) no-repeat bottom center fixed;
  background: -moz-linear-gradient(bottom, rgba(44, 59, 69, 0.8) 0%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/backdrop.jpg) no-repeat bottom center fixed;
  background: -webkit-gradient(bottom, color-stop(0%, rgba(44, 59, 69, 0.8)), color-stop(50%, rgba(44, 59, 69, 0))), url(../../images/team-photos/backdrop.jpg) no-repeat bottom center fixed;
  background: -webkit-linear-gradient(bottom, rgba(44, 59, 69, 0.8) 0%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/backdrop.jpg) no-repeat bottom center fixed;
  background: -o-linear-gradient(bottom, rgba(44, 59, 69, 1) 0%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/backdrop.jpg) no-repeat bottom center fixed;
  background: -ms-linear-gradient(bottom, rgba(44, 59, 69, 1) 0%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/backdrop.jpg) no-repeat bottom center fixed;
  background: linear-gradient(to top, rgba(44, 59, 69, 1) 0%, rgba(44, 59, 69, 0) 50%), url(../../images/team-photos/backdrop.jpg) no-repeat bottom center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

